<div class="container-fluid" id="content">
  <div class="row">
    <div class="col-lg-3 ml-0">
      <!-- Sidebar -->
      <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px; height: 1000px;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap"/>
          </svg>
          <span class="fs-4"><strong>Quản lý hệ thống</strong></span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a [routerLink]="['/admin/employee']" class="nav-link " aria-current="page">
              <svg class="bi me-2" width="16" height="16">
                <use xlink:href="#home"/>
              </svg>
              Quản lý nhân viên
            </a>
          </li>

          <li>
            <a [routerLink]="['/employee/entities']" class="nav-link active">
              <svg class="bi me-2" width="16" height="16">
                <use xlink:href="#speedometer2"/>
              </svg>
              Quản lý cá thể
            </a>
          </li>

        </ul>
        <hr>

        <!-- Sidebar -->
      </div>
    </div>
    <div class="col-lg-9 ">

      <strong style="font-size: larger;margin-top: 10px; height: 20px">Cập nhật thông tin thông báo: </strong>

      <hr/>
<!--      <form [formGroup]="formgroup" ]style="max-width: 100%;" class="bg-light">-->
        <div class="container-fluid">

<!--          <label>Ảnh đã có</label>-->
<!--          <br>-->
<!--          <img src="https://vnn-imgs-f.vgcloud.vn/2019/10/22/10/tiet-lo-bi-mat-ve-qua-bom-nguyen-tu-dau-tien-cua-lien-xo-4.jpg"-->
<!--               style="width: 150px; float: none;margin-right: 10px;margin-top: 8px" alt="Bom">-->
<!--          <br>-->
<!--          <br>-->

<!--          <label for="formFileLg" class="form-label"> Cập nhật ảnh</label>-->
<!--          <input class="form-control form-control-lg" id="formFileLg" type="file" style="   height: 51px"/>-->
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Nội dung</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>


          <div class="text-center">
            <button type="submit" class="btn btn-info m-2">Cập nhật</button>
            <button type="button" class="btn btn-success m-2" [routerLink]="['/notification/']">Huỷ bỏ</button>
          </div>
        </div>
<!--      </form>-->
    </div>
  </div>
  <footer class="">
    <div class="container py-5">
      <div class="row py-4">
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
          <p class="font-italic text-muted">Kết nối với chúng tôi.</p>
          <ul class="list-inline mt-4">
            <li class="list-inline-item"><a href="#" target="_blank" title="twitter"><i
              class="fa fa-twitter i-footer"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="facebook"><i
              class="fa fa-facebook i-footer"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="instagram"><i
              class="fa fa-instagram i-footer"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="pinterest"><i
              class="fa fa-pinterest i-footer"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="vimeo"><i class="fa fa-vimeo i-footer"></i></a>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">Sản phẩm</h6>
          <ul class="list-unstyled mb-0">
            <li class="mb-2"><a href="#" class="text-muted">Thức Ăn</a></li>
            <li class="mb-2"><a href="#" class="text-muted">Thuốc</a></li>
            <li class="mb-2"><a href="#" class="text-muted">Giống</a></li>
            <li class="mb-2"><a href="#" class="text-muted">Cá Thể</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">Hệ thống</h6>
          <ul class="list-unstyled mb-0">
            <li class="mb-2"><a href="#" class="text-muted">Đăng nhập</a></li>
            <li class="mb-2"><a href="#" class="text-muted">Đăng ký</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">Gửi ý kiến</h6>
          <p class="text-muted mb-4">Mọi thắc mắc xin liên hệ cho chúng tôi.</p>
          <div class="p-1 rounded border">
            <div class="input-group">
              <input type="email" placeholder="Enter your email address" aria-describedby="button-addon1"
                     class="form-control border-0 shadow-0">
              <div class="input-group-append">
                <button id="button-addon1" type="submit" class="btn btn-link"><i class="fa fa-paper-plane"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Copyrights -->
    <div class="bg-light py-4">
      <div class="container text-center">
        <p class="text-muted mb-0 py-2">© 2019 Bootstrapious All rights reserved.</p>
      </div>
    </div>

  </footer>
</div>
<!--</body>-->
<!--</html>-->
