<div class="body">
  <div class="container" style="margin-top: 40px;">
    <div class="row">
      <div class="col-sm-12">
        <div class="horizontal-container">
          <div class="horizontal-form-box">
            <div class="horizontal-info-container text-center">
              <img src="../../../assets/image/change-password.png"/>
              <p class="horizontal-heading">Cài lại mật khẩu</p>
              <p class="horizontal-subtitle">Mật khẩu phải có ít nhất 8 ký tự.</p>
            </div>
            <form class="horizontal-form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
              <div class="o3-form-group">
                <label for="new_password">Mật khẩu mới</label>
                <input type="password" formControlName="newPassword" class="o3-form-control o3-input-lg"
                       id="new_password">
                <!--              validate-->
                <div class="error-place">
                  <div *ngFor="let validation of validation_messages.password">
                    <small class="text-danger"
                           *ngIf="formGroup.get('newPassword').hasError(validation.type) && (formGroup.get('newPassword').touched )">
                      {{validation.message}}</small>
                  </div>
                </div>
              </div>

              <div class="o3-form-group">
                <label for="confirm_password">Nhập lại mật khẩu mới</label>
                <input type="password" formControlName="confirmNewPassword" class="o3-form-control o3-input-lg"
                       id="confirm_password">
                <!--              validate-->
                <div class="error-place">
                  <div *ngFor="let validation of validation_messages.password">
                    <small class="text-danger"
                           *ngIf="formGroup.get('confirmNewPassword').hasError(validation.type) && (formGroup.get('confirmNewPassword').touched )">
                      {{validation.message}}</small>
                  </div>
                </div>
              </div>

              <div *ngIf="isSuccessful then success else fail"></div>
              <ng-template #success>
                <button class="o3-btn o3-btn-primary o3-btn-block" type="submit">Tạo mật khẩu mới</button>
              </ng-template>
              <ng-template #fail>
                <button class="o3-btn o3-btn-primary o3-btn-block" type="submit" disabled>Tạo mật khẩu mới</button>
              </ng-template>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
