@charset "UTF-8";
@import 'https://static.stayjapan.com/assets/dashboard/application-33c1a06b7784b53cd746d479718b6295c0fcefebb696e78dcee7c68efc92fada.css';

.body{
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
  url(https://images.unsplash.com/photo-1551651437-f293403584ec?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1331&q=80);

  height: 100%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.horizontal-container {
  margin: 0 auto;
  width: 100%;
}

.horizontal-container .horizontal-form-box {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  height: auto;
  padding: 30px;
}
.horizontal-container .horizontal-form-box .horizontal-info-container img {
  height: 75px;
  margin-bottom: 20px;
}
.horizontal-container .horizontal-form-box .horizontal-info-container .horizontal-heading {
  color: #000;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
  text-transform: capitalize;
}
.horizontal-container .horizontal-form-box .horizontal-info-container .horizontal-subtitle {
  letter-spacing: 1px;
  margin-bottom: 25px;
  text-align: left;
}
.horizontal-container .horizontal-form-box .horizontal-form label,
.horizontal-container .horizontal-form-box .horizontal-form button {
  text-transform: capitalize;
}
.horizontal-container .horizontal-form-box .horizontal-form label {
  color: #000;
  font-weight: normal;
}

.o3-btn-primary{
  background-color: #66c992;
  border-color: #66c992;
  cursor: pointer;
}

@media (min-width: 768px) {
  .horizontal-container {
    width: 500px;
  }
}

