<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" conte>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/d3ad0e260e.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />

  <!-- Custom styles for this page -->
  <!--  <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">-->
  <title>Danh sách chuồng nuôi</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">LOGO-A04-PROJECT</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto ml-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link text-uppercase" href="#">Trang chủ <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-uppercase" href="#">Tin tức</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-uppercase" href="#">Về chúng tôi</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-uppercase" href="#">Liên Hệ</a>
      </li>
    </ul>
    <div class="dropleft">
      <button type="button" class="btn btn-nav dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Putin <i class="fa-solid fa-circle-user"></i></button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#"> <i class="fa-solid fa-gears"></i> Quản lý hệ thống </a>
        <a class="dropdown-item" href="#"> <i class="fa-solid fa-circle-info"></i> Quản lý thông tin đàn</a>
        <a class="dropdown-item" href="#"> <i class="fa-solid fa-carrot"></i> Quản lý thức ăn</a>
        <a class="dropdown-item" href="#"> <i class="fa-solid fa-book-medical"></i> Quản lý bệnh lý</a>
        <a class="dropdown-item" href="#"> <i class="fa-solid fa-truck-moving"></i> Quản lý xuất chuồng</a>
        <a class="dropdown-item" href="#"> <i class="fa-solid fa-right-from-bracket"></i> Đăng xuất</a>
      </div>
    </div>
  </div>
</nav>
<div class="container-fluid" id="content">
  <div class="row">
    <div class="col-lg-3 ml-0">
      <!-- Sidebar -->
      <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px; height: 1000px;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
          <span class="fs-4"><strong>Quản lí thông tin cá thể</strong></span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li>
            <a href="#" class="nav-link link-dark">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
              Quản lý chuồng nuôi
            </a>
          </li>
          <li class="nav-item">
            <a href="./home.html" class="nav-link active" aria-current="page">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
              Quản lý cá thể
            </a>
          </li>

        </ul>
        <hr>

        <!-- Sidebar -->
      </div>
    </div>
    <div class="col-lg-9 ">

      <strong>Khởi tạo thông tin vật nuôi</strong>

      <hr/>
      <form style="max-width: 700px;" [formGroup]="entitiesForm" *ngIf="entitiesForm" (ngSubmit)="updateEntities()" class="bg-light">
        <div class="container-fluid">

          <div class="form-group row">
            <label  class="col-form-label ml-3"  style="width: 130px;">Mã chuồng nuôi<span class="text-danger">*</span></label>
            <div class="col-sm-8">
              <select class="span2 form-control" formControlName="cageId">
                <option class="span2 form-control" size="16" *ngFor="let cage of cageList">{{cage}}</option>
              </select>
                <span style="color: red;">Mã phải đúng định dạng: CHXXX với XXX là số nguyên dương !</span>

            </div>
          </div>

          <div class="form-group row">
            <label  class="col-form-label ml-3" style="width: 130px;">Mã vật nuôi<span class="text-danger">*</span></label>
            <div class="col-sm-8">
              <div class="input-append date" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
                <input class="span2 form-control" size="16" type="text" value="CH01" formControlName="entitiesId">
                <span style="color: red;">Mã phải đúng định dạng: NVXXX với XXX là số nguyên dương!</span>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label  class="col-form-label ml-3" style="width: 130px;">Ngày vào chuồng<span class="text-danger">*</span></label>
            <div class="col-sm-8">
              <div class="input-append date" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
                <input class="span2 form-control" size="16" type="date" value="12/02/2012" formControlName="inDate">
                <span style="color: red;">Hãy chọn ngày trước ngày hiện tại !</span>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label  class="col-form-label ml-3" style="width: 130px;">Ngày ra chuồng<span class="text-danger">*</span></label>
            <div class="col-sm-8">
              <div class="input-append date" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
                <input class="span2 form-control" size="16" type="date" value="12/02/2012"formControlName="outDate" >
                <span style="color: red;">Hãy chọn ngày trước ngày tạo chuồng!</span>
              </div>
            </div>
          </div>


          <div class="form-group row">
            <label  class="col-form-label ml-3" style="width: 130px;">Cân nặng<span class="text-danger">*</span></label>
            <div class="col-sm-8">
              <div class="input-group mb-3">
                <input type="text" class="form-control" min="1" type="number" value="1" formControlName="weight">
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2">kg</span>
                </div>
              </div>
              <span style="color: red;">Hãy điền khối lượng của cá thể!</span>

            </div>
          </div>

          <div class="form-group row">
            <label  class="col-form-label ml-3" style="width: 130px;">Status<span class="text-danger">*</span></label>
            <div class="col-sm-8">
              <div class="input-group mb-3">
                <input type="text" class="form-control" min="1" type="text" value="" formControlName="status">
              </div>
              <span style="color: red;">Hãy điền trạng thái cá thể!</span>

            </div>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-info m-2">Cập nhật</button>
            <button type="button" class="btn btn-success m-2">Huỷ bỏ</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <footer class="">
    <div class="container py-5">
      <div class="row py-4">
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
          <p class="font-italic text-muted">Kết nối với chúng tôi.</p>
          <ul class="list-inline mt-4">
            <li class="list-inline-item"><a href="#" target="_blank" title="twitter"><i class="fa fa-twitter i-footer"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="facebook"><i class="fa fa-facebook i-footer"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="instagram"><i class="fa fa-instagram i-footer"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="pinterest"><i class="fa fa-pinterest i-footer"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="vimeo"><i class="fa fa-vimeo i-footer"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">Sản phẩm</h6>
          <ul class="list-unstyled mb-0">
            <li class="mb-2"><a href="#" class="text-muted">Thức Ăn</a></li>
            <li class="mb-2"><a href="#" class="text-muted">Thuốc</a></li>
            <li class="mb-2"><a href="#" class="text-muted">Giống</a></li>
            <li class="mb-2"><a href="#" class="text-muted">Cá Thể</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">Hệ thống</h6>
          <ul class="list-unstyled mb-0">
            <li class="mb-2"><a href="#" class="text-muted">Đăng nhập</a></li>
            <li class="mb-2"><a href="#" class="text-muted">Đăng ký</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">Gửi ý kiến</h6>
          <p class="text-muted mb-4">Mọi thắc mắc xin liên hệ cho chúng tôi.</p>
          <div class="p-1 rounded border">
            <div class="input-group">
              <input type="email" placeholder="Enter your email address" aria-describedby="button-addon1" class="form-control border-0 shadow-0">
              <div class="input-group-append">
                <button id="button-addon1" type="submit" class="btn btn-link"><i class="fa fa-paper-plane"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Copyrights -->
    <div class="bg-light py-4">
      <div class="container text-center">
        <p class="text-muted mb-0 py-2">© 2019 Bootstrapious All rights reserved.</p>
      </div>
    </div>

  </footer>
</div>
</body>
</html>
