<html>
<body>
<h1>A04 logo in here.</h1>
<div class="info"><a href="https://www.grandvincent-marion.fr" target="_blank"><p> From A0421I1 <i class="fa fa-heart"></i> with love </p></a></div>

<form>
  <h1>Nếu bạn có thắc mắc vui lòng gọi đến số hotline: 19008198 để được hỗ trợ!  </h1>

  <div class="contentform">
    <div id="sendmessage"> Your message has been sent successfully. Thank you. </div>
    <div class="leftcontact">
      <div class="form-group">
        <p>Tên của bạn:  <span>*</span></p>
        <span class="icon-case"><i class="fa fa-user"></i></span>
        <input type="text" name="prenom" id="prenom" data-rule="required"/>
        <div class="validation">Vui lòng nhập tên!</div>
      </div>

      <div class="form-group">
        <p>E-mail <span>*</span></p>
        <span class="icon-case"><i class="fa fa-envelope-o"></i></span>
        <input type="email" name="email" id="email" data-rule="email"/>
        <div class="validation">Email sai định dạng!</div>
      </div>
    </div>

    <div class="rightcontact">
      <div class="form-group">
        <p>Địa chỉ <span>*</span></p>
        <span class="icon-case"><i class="fa fa-building-o"></i></span>
        <input type="text" name="ville" id="ville" data-rule="required"/>
        <div class="validation"> Vui lòng điền địa chỉ của bạn!</div>
      </div>

      <div class="form-group">
        <p>Số điện thoại <span>*</span></p>
        <span class="icon-case"><i class="fa fa-phone"></i></span>
        <input type="text" name="phone" id="phone" data-rule="maxlen:10"/>
        <div class="validation">Số điện thoại sai định dạng!</div>
      </div>
    </div>
    <div class="form-group" style="width: 100%">
      <p>Lời nhắn <span>*</span></p>
      <span class="icon-case"><i class="fa fa-comments-o"></i></span>
      <textarea name="message" rows="14" data-rule="required" style="width: 88%"></textarea>
      <div class="validation"></div>
    </div>
  </div>
  <button type="submit" class="bouton-contact">Gửi</button>
</form>
</body>
</html>
