/* body {
    background: #35a367;
    background: -webkit-linear-gradient(to right,  #2e8c59, #66c992);
    background: linear-gradient(to right, #2e8c59, #66c992);

  } */
/* nav{
  background: #35a367;
  background: -webkit-linear-gradient(to right,  #66c992, #66c992);
  background: linear-gradient(to right, #66c992, #66c992);
} */
table tr td{
  vertical-align: middle;
}
.h2 {
  display: inline-block;
  color: #fff;
  background-color: #41B675;
  border-color: #41B675;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
}

#content{
  min-height: 100vh;
}
#button-addon1 {
  color: #66c992;
}

.i-footer {
  color: #66c992;
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: rgb(201, 200, 200);
  font-style: italic;
}

.form-control.shadow-0:focus {
  box-shadow: none;
}
footer{
  background-color: rgb(226, 225, 225);
}
.btn-nav{
  background-color: #66c992;
}
.nav-link:hover{
  border-radius: 5px;
  background: #66c992;
}

/*!
 * Start Bootstrap - SB Admin 2 v4.1.3 (https://startbootstrap.com/theme/sb-admin-2)
 * Copyright 2013-2021 Start Bootstrap
 * Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-sb-admin-2/blob/master/LICENSE)
 */

/*!
 * Bootstrap v4.6.0 (https://getbootstrap.com/)
 * Copyright 2011-2021 The Bootstrap Authors
 * Copyright 2011-2021 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/main/LICENSE)
 */

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #858796;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: middle;
  border-top: 1px solid #e3e6f0;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #e3e6f0;
}

.table tbody + tbody {
  border-top: 2px solid #e3e6f0;
}

.table-sm th,
.table-sm td {
  padding: 0.3rem;
}

.table-bordered {
  border: 1px solid #e3e6f0;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #e3e6f0;
}

.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 2px;
}

.table-borderless th,
.table-borderless td,
.table-borderless thead th,
.table-borderless tbody + tbody {
  border: 0;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover {
  color: #858796;
  background-color: rgba(0, 0, 0, 0.075);
}

.table-primary,
.table-primary > th,
.table-primary > td {
  background-color: #cdd8f6;
}

.copyright{line-height:1;font-size:.8rem}body.sidebar-toggled footer.sticky-footer{width:100%}
