<div class="body">
<div class="container-center">
  <h2>Cài lại mật khẩu</h2>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <h4>
      Nhập email của tài khoản<br>
      và làm theo hướng dẫn để thay đổi mật khẩu
    </h4>
    <div class="formGroup">
      <input type="email" name="email" formControlName="email" placeholder="Email" id="email"/>
      <span>Nhập email của bạn </span>

      <!--      validate email-->
      <div style="color: red" *ngIf="formGroup.controls.email.hasError('required') && formGroup.get('email').touched">
        Vui lòng nhập email để thực hiên bước tiếp theo.
      </div>
      <div style="color: red" *ngIf="formGroup.controls.email.hasError('pattern') && formGroup.get('email').touched">
        Email sai định dạng. Vui lòng kiểm tra lại
      </div>
    </div>

    <div *ngIf="isSubmitted then submited else notSubmited"></div>
    <ng-template #notSubmited>
      <button class="login-btn" type="submit">Gửi email xác thực</button>
    </ng-template>
    <ng-template #submited>
      <button class="login-btn" type="button" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Loading...
      </button>
    </ng-template>

  </form>
</div>
</div>

