@font-face {
  font-family: Mukta;
  src: url('https://fonts.googleapis.com/css?family=Mukta:700');
}
#btnSearch{}
.card:hover{
  background-color: #EDEDED;
}
.card{
}
.news-hightlight-name, .name-new-left{
  color: black ;
}
.news-hightlight-name, .name-new-left:hover{
  text-decoration: none;
}
.list-news-left:hover{
  background-color: #EDEDED;
}
.btn-outline-search{
  background-color: #66C992;
}
.btn-outline-search:hover{
  background-color: #F47F24;
  /* border: 1px solid #192030 */
}
.content-news{
  /* display: block; */
  margin-top: 90px;
}
/* #content{
  margin-left: 50px;
  margin-right: 50px
} */
.carousel{
  /* width: 100%;
height: 50px; */
}
/* .img-left{
  min-height: 500px
} */
.contact-div{
  width: 70%;
  min-height: 150px;
  background-color: black;
  margin: auto;
  position:relative;
  display:flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 1.5px;
}
.btn-contact{
  margin: auto;
  background-color: white;
  border-radius: 0;
  font-family: 'Mukta', sans-serif;
  font-weight: lighter;
  letter-spacing: 2px;
  font-size: 15px;
}
.btn-contact:hover{
  background-color: transparent;
  border: 1px solid #FFFFFF;
  color: #EDEDED;
}
#btn-contact{
}
.btn-contact{
}
.center-contact{
  /* align-content: center ; */
}
.sp-text-mid{
  color: #F47F24;
}
.a-contact{
  background-image: linear-gradient(
    to right,
    #54B3D6,
    #54B3D6 50%,
    rgb(255, 255, 255) 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  /* padding: 5px 0; */
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  font-weight: 500px;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  letter-spacing: 1.5px;
}
.a-contact:before {
  content: '';
  background: #54B3D6;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}
.a-contact:hover {
  background-position: 0;
}
.a-contact:hover::before {
  width:100%;
}
.input-search-2{
  border-radius: 0;
}
.input-search-2::after{
}
.btn-outline-search2{
  background-color: #54B3D6;
  border-radius: 0;
}
.btn-outline-search2:hover{
  background-color: black;
  color: white;
}
.img-thumbnail{
  border: 0;
  border-radius: 0;
  padding: 0;
  min-width: 100%;
}
#new-name-left{
  font-size: 20px;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}
/* .nav-item:hover{
    background-color: black;
} */
.pagination-news{
  color: black;
}
.pagination-news:hover{
  color: rgb(255, 255, 255);
  background-color: black;
}
.name-list-news{
  background-color: black;
  color: #FFFFFF;
}
.nav-link-true{
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  background-color: black;
  color: #EDEDED;
  pointer-events: none;
}
.nav-link-false{
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  background-color: transparent;
  color: black;
}
