#btnSearch{}
.card:hover{
  background-color: #EDEDED;
}
.card{

}
.news-hightlight-name, .name-new-left{
  color: black ;
}
.news-hightlight-name, .name-new-left:hover{
  text-decoration: none;
}
.list-news-left:hover{
  background-color: #EDEDED;

}
.btn-outline-search{
  background-color: #66c992;
}
.btn-outline-search:hover{
  background-color: #F47F24;
  /* border: 1px solid #192030 */
}
