
.btn-nav{
  background-color: #66c992;
}
.nav-link:hover{
  border-radius: 5px;
  background: #66c992;
}

/*css for modal logout*/

.btn-logout {
  background-color: #66c992;
  border-radius: 5px;
  color: white;
  border: none;
  min-height: 40px;
  margin: 0 5px;
}

.btn-logout:hover{
  border-radius: 5px;
  background: #499e6f;
}

body {
  font-family: 'Varela Round', sans-serif;
}



