<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">LOGO-A04-PROJECT</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto ml-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link text-uppercase" href="#">Trang chủ <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-uppercase" href="#">Tin tức</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-uppercase" href="#">Về chúng tôi</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-uppercase" href="#">Liên Hệ</a>
      </li>
    </ul>


    <div class="dropleft">
      <div *ngIf="isLoggedIn then  loggedIn else notLogIn"></div>

      <ng-template #notLogIn>
          <button class="btn-logout" [routerLink]="['/login']">
            Đăng nhập <i class="fa-solid fa-circle-user"></i>
          </button>
      </ng-template>


      <ng-template #loggedIn>
        <button class="btn-logout" (click)="openDialog()">
          Đăng xuất <i class="fa-solid fa-right-from-bracket"></i>
        </button>
      </ng-template>
    </div>
  </div>
</nav>


