<!--Modal detail-->
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Chi tiết chỉnh sửa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeDialog()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

          <div class="modal-body" *ngIf="logList !== null">
            <table class="table">
              <thead class="thead-light">
              <tr>
                <th scope="col" style="width:15%">Chuồng nuôi</th>
                <th scope="col" style="width:15%">Ngày chỉnh sửa</th>
                <th scope="col" class="text-center" style="width:50%">Nội dung chỉnh sửa</th>
                <th scope="col" style="width:20%">Nhân viên chỉnh sửa</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let log of logList">
                <td class="text-center">{{log.cageId}}</td>
                <td class="text-center" >{{log.editDate|date:"dd/MM/yyy"}}</td>
                <td>
                  <p *ngFor="let des of editDes">- {{des}}</p>
                </td>
                <td >{{log.employeeId}}</td>

              </tbody>
            </table>
          </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="closeDialog()">Đóng</button>
      </div>

